
<div class="md:flex bg-white rounded-lg p-6">
<h1> Welcome, <%= @user.first_name%>!</h1>

<p><%= user.first_name %></p>
<p><%= user.last_name %></p>
<p><%= user.handle %></p>
<p><%= user.email %></p>
</div>
