<div class="navbar bg-base-100 sticky top-0 z-50" id="navstick">
  <div class="flex-1">
    <%= link_to root_path do %>
      <a class="btn btn-ghost normal-case text-xl">EventMonkey</a>
    <% end %>
  </div>

  <%# <%= filter button start  %>
  <div class="flex-none gap-2">
   <p class="text-2xl" data-tooltip="category">
    <% link_to events_path(category: "Jazz") do %>
      <i class="fa-solid fa-music <%= "selected" if params[:category] %>" id="local"></i>
      <% end %>

       <p class="text-3xl" data-tooltip="location">
    <% link_to events_path(location: "London") do %>
      <i class="fas fa-circle <%= "selected" if params[:location] %>" id="local"></i>
      <% end %>
 <%# <%= filter button end  %>


   <%# Location button start %>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost">
        <div class="text-3xl">
        <i class="fa-solid fa-location-dot fa-solid fa-location-dot"></i>
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">

        <li><%= link_to events_path(location: "Birmingham") do %>
      <i class="fa-solid fa-location-dot <%= "selected" if params[:location] %>" id="local"></i> Birmingham</li><%end%>

        <li><%= link_to events_path(location: "Glasgow") do %>
      <i class="fa-solid fa-location-dot <%= "selected" if params[:location] %>" id="local"></i>Glasgow</li><%end%>

           <li><%= link_to events_path(location: "London") do %>
      <i class="fa-solid fa-location-dot <%= "selected" if params[:location] %>" id="local"></i>London</li><%end%>
          </a>

          <li><%= link_to events_path(location: "Newcastle") do %>
      <i class="fa-solid fa-location-dot <%= "selected" if params[:location] %>" id="local"></i> Newcastle</li><%end%>

      </ul>
    </div>
    <%# location button end %>

    <%# Music Drop down button start %>
    <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            <div class="text-3xl">
            <i class="fa-solid fa-music"></i>
            </div>
          </label>
          <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">

          <li><%= link_to events_path(category: "Alternative") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i> Alternative</li><%end%>

            <li><%= link_to events_path(category: "Country") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i> Country</li><%end%>

              <li><%= link_to events_path(category: "Jazz") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:category] %>" id="local"></i>Jazz</li><%end%>

          <li><%= link_to events_path(category: "Pop") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i> Pop</li><%end%>

          <li><%= link_to events_path(category: "Rock") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i> Rock</li><%end%>

            <li><%= link_to events_path(category: "Sports") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i>Sports</li><%end%>

          <li><%= link_to events_path(category: "RnB") do %>
          <i class="fa-solid fa-music <%= "selected" if params[:location] %>" id="local"></i>RnB</li><%end%>
          </ul>
        </div>
      <%# Music Drop down button %>


    <%# Profile dropdown start %>
        <div class="form-control p-0.5 rounded-box">
        <%= form_with url: events_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "input input-bordered",
    placeholder: "Find event..."
  %>
  <% end %>

      <%# <input type="text" placeholder="Find Event..." class="input input-bordered" /> %>
    </div>

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/192/192/people" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
    <%# Profile dropdown end  %>

  </div>
</div>
