 <%# <div class="container">
      <div class="card w-96 bg-base-100 shadow-l flex-col px-5 w-full h-full p-2">
        <h1 class="card-title text-4xl border-bottom"><%= event.name %>
        <%# <h2 class="card-line py-2 text-3xl font-semibold"><%= event.venue reinclude end of tags %>
        <%# <h2 class="card-line py-1 text-2xl font-medium"><%= event.location %>

        <%# <h3 class="card-line  text-2xl font-semibold"><%= event.date_details.strftime("%d %B %Y")%>
        <%# <h3 class="card-line py-5 text-2xl font-semibold"><%= event.date_details.strftime("%l:%M%P") %>
        <%# <p class="card-line py-2 text-2xl font-semibold"><%= event.category %>
        <%# <p class="card-line py-2 text-2xl font-semibold"> <%= event.price.round price and ptag %>
<%#  %>
        <%# <div class="card-actions justify-end">
        </div>
      </div>
    </div> %>
