

<div class="container mb-8">
  <div class=<%= (params[:query].present? || params[:location].present? || params[:category].present?) ? "hidden" : "" %>>
    <h1 class="text-5xl font-bold mt-4">All Events</h1>

    <div class="grid grid-cols-4 gap-4 mb-[5rem]" >

      <a href="/events?category=Alternative" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://f4.bcbits.com/img/0022450678_0" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Alternative</h2>
      </a>

      <a href="/events?category=Rock" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://thelistwire.usatoday.com/wp-content/uploads/sites/99/2021/09/USATSI_15747709.jpg?w=1000&h=600&crop=1" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Rock</h2>
      </a>

      <a href="/events?category=Hip Hop" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://pyxis.nymag.com/v1/imgs/c43/0b1/19a6bc7cb4a911338c16a4465fac6c3a92-feature-lede-rap-final.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Hip Hop</h2>
      </a>

      <a href="/events?category=Sports" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://d1e00ek4ebabms.cloudfront.net/production/420e7555-72a1-4843-8326-26e602b3700e.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Sports</h2>
      </a>

      <a href="/events?category=Pop" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://www.billboard.com/wp-content/uploads/2020/12/alternative-bb19-2020-billboard-1548-1608052688.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Pop</h2>
      </a>

      <a href="/events?category=Country" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://musicindustryhowtoimages.s3.amazonaws.com/wp-content/uploads/2022/01/23032435/Characteristics-of-Country-Music.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Country</h2>
      </a>

      <a href="/events?category=R%26B" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://images.squarespace-cdn.com/content/v1/581e0a05be659448b76fff35/1579277353998-SBVU7C70HYV4UU7L38T2/over+it.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">RnB</h2>
      </a>

      <a href="/events?category=Jazz" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://www.udiscovermusic.com/wp-content/uploads/2021/11/Louis-Armstrong-GettyImages-964102851.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Jazz</h2>
      </a>
    </div>
  </div>
</div>




  <div class=<%= (params[:query].present? || params[:location].present? || params[:category].present?) ? "" : "hidden" %>>
    <div class="container">
      <h1 class="text-4xl sticky font-bold mt-8 mb-8">
      <%  if params[:category]  %>
      <p class="mt-6 text 6xl mb-3 "> <span style="color: #570DF8"><%= params[:category] %></span> events you may like...</p>
      <% else %>
      <p class="mt-6 text 6xl mb-3"> Events in <span style="color: #570DF8"><%= params[:location]%></span>...  </p>
      <% end %>


      <div class="grid grid-cols-1">
      <% if @events.empty? %>
        <p class="mt-6 text 2xl">Sorry there are no results for.... <%= params[:query] %>...</p>
        <% end %>
      </div>


    <div class="grid grid-cols-3">
      <% @events.each do |event| %>
      <% if event.date_details.to_date > Date.yesterday %>
        <%= link_to event_path(event.id), class: 'no-decoration' do %>
            <div class="card card-compact w-90 h-80 bg-base-100 shadow-xl mx-4 my-4 hover:text-[#570DF8]" data-aos="fade-up"
      data-aos-duration="1000">
              <figure><img src=<%= event.image_url %> class="w-full" /></figure>
              <div class="card-body">
                <h2 class="card-title"><%= event.name.truncate(25) %>
                <% if event.date_details.today? == true %>
                <div class="badge badge-secondary">TODAY</div></h2>
                <% else %>
                <% end %>
                <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
                <div class="card-actions justify-end">
                  <h2 class="btn btn-primary">£<%= event.price.round %></h2>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
