

<div class="container mb-8">
  <div class=<%= (params[:query].present? || params[:location].present? || params[:category].present?) ? "hidden" : "" %>>
    <h1 class="text-5xl font-bold mt-4">All Events</h1>

    <div class="grid grid-cols-4 gap-4">

      <a href="/events?category=Alternative" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://f4.bcbits.com/img/0022450678_0" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Alternative</h2>
      </a>

      <a href="/events?category=Rock" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://thelistwire.usatoday.com/wp-content/uploads/sites/99/2021/09/USATSI_15747709.jpg?w=1000&h=600&crop=1" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Rock</h2>
      </a>

      <a href="/events?category=Hip Hop" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://pyxis.nymag.com/v1/imgs/c43/0b1/19a6bc7cb4a911338c16a4465fac6c3a92-feature-lede-rap-final.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Hip Hop</h2>
      </a>

      <a href="/events?category=Sports" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://d1e00ek4ebabms.cloudfront.net/production/420e7555-72a1-4843-8326-26e602b3700e.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Sports</h2>
      </a>

      <a href="/events?category=Pop" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://www.billboard.com/wp-content/uploads/2020/12/alternative-bb19-2020-billboard-1548-1608052688.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Pop</h2>
      </a>

      <a href="/events?category=Country" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://musicindustryhowtoimages.s3.amazonaws.com/wp-content/uploads/2022/01/23032435/Characteristics-of-Country-Music.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Country</h2>
      </a>

      <a href="/events?category=R%26B" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://images.squarespace-cdn.com/content/v1/581e0a05be659448b76fff35/1579277353998-SBVU7C70HYV4UU7L38T2/over+it.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">RnB</h2>
      </a>

      <a href="/events?category=Jazz" target="_blank" class="card w-4/5 h-1/5 bg-base-100 image-full mt-5 hover:contrast-75" id="no-tint">
        <figure><img src="https://www.udiscovermusic.com/wp-content/uploads/2021/11/Louis-Armstrong-GettyImages-964102851.jpg" class="" /></figure>
        <h2 class="card-body justify-center content-center items-center place-content-center text-3xl font-bold mt-4 mb-6 text-white">Jazz</h2>
      </a>
    </div>
  </div>
</div>




  <div class=<%= (params[:query].present? || params[:location].present? || params[:category].present?) ? "" : "hidden" %>>
    <div class="container">
      <h1 class="text-4xl sticky font-bold mt-8 mb-8">
      <%  if params[:category]  %>
      <p class="mt-6 text 6xl mb-10 "> <%= params[:category] %> events you may like...</p>
      <% else %>
      <p class="mt-6 text 6xl mb-10"> Events in <%= params[:location]%>...  </p>
      <% end %>


      <div class="grid grid-cols-1">
      <% if @events.empty? %>
        <p class="mt-6 text 2xl">Sorry there are no results for.... <%= params[:query] %>...</p>
        <% end %>
      </div>


    <div class="grid grid-cols-3">
      <% @events.each do |event| %>

          <div class="card card-compact w-90 h-80 bg-base-100 shadow-xl mx-4 my-2">
            <figure><img src=<%= event.image_url %> class="w-full" /></figure>
            <div class="card-body">
              <a href="/events/<%= event.id.to_s %>"><h2 class="card-title"><%= event.name.truncate(30) %></a>
              <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
              <div class="card-actions justify-end">
                <a href="<%= event.url %>" target="_blank"class="btn btn-primary">Buy £<%= event.price.round %></a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
  <div class="flex flex-1 justify-between sm:hidden">
    <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
    <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">10</span>
        of
        <span class="font-medium">97</span>
        results
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <a href="#" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: mini/chevron-left -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
        </a>
        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
        <a href="#" aria-current="page" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20">1</a>
        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">2</a>
        <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">3</a>
        <span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
        <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">8</a>
        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">9</a>
        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">10</a>
        <a href="#" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: mini/chevron-right -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </a>
      </nav>
    </div>
  </div>
</div>
