<div class="container flex items-stretch py-20 yeah">
  <div class="card bg-base-100 shadow-l flex-col px-5 w-10/12 p-3 h-500">
    <figure><img src=<%= @event.image_url %> class="w-full p-2 rounded-3xl mt-4 "></figure>
      <h2 class="card-title justify-center text-2xl mt-5 border-top border-bottom"><%= @event.name %></h2>
    <div class="card-body justify-center">
      <div class="bottom text-5xl d-flex justify-center space-x-10 flex items-stretch px-5">

      <%# if @event.updated_at.strftime("%k%s").to_i <= Time.now.strftime("%k%s").to_i && @event.updated_at.strftime("%k%s").to_i  >= (Time.now.strftime("%k%s").to_i) - 5 %>
      <%# raise %>
      <% if current_user.favorite_event?(@event) %>
        <i class="fa fa-heart" data-modal-toggle="defaultModal" style='color: red'></i>
      <% else %>
        <i class="fa-solid fa-heart" data-modal-toggle="defaultModal"></i>
      <% end %>
      <button class='btn btn-primary', id="pay">Purchase</button>
      </div>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @event.checkout_session_id %>'
        });
      });
      </script>


    <div class="card-actions justify-end">
    </div>
      </div>
    </div>


   <div class="container">

    <div class="card-event w-96 bg-base-100 shadow-l flex-col px-5 w-full p-2">
      <h1 class="card-title text-4xl border-bottom pt-3 shadow-l"><%= @event.name.truncate(37) %></h1>

      <h2 class="card-line py-2 text-3xl font-semibold"><%= @event.venue %></h2>
      <h2 class="card-line py-1 text-2xl font-medium"><%= @event.location %></h2>

      <h3 class="card-line  text-2xl font-semibold border-bottom pb-2"><%= @event.date_details.strftime("%d %B %Y")%>
      <h3 class="card-line py-5 text-2xl font-semibold"><i class="fa-regular fa-clock"></i> <%= @event.date_details.strftime("%l:%M%P") %>
      <p class="card-line py-2 text-2xl font-semibold"><i class="fa-solid fa-ticket"></i> <%= @event.category %></p>
      <p class="card-line py-2 text-2xl font-semibold"><i class="fa-solid fa-sterling-sign"></i><%= @event.price.round(3) %></p>

      <div class="card-actions justify-end">
      </div>
    </div>
  </div>
        <%# Geocode %>
        <div class="mapbox" style="width: 140%; height: 500px; shadow-l"
          data-controller="map",
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
  </div>
</div>


  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-half p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
      <div class="relative w-full h-full max-w-2xl md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Add to Favorites
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6 bg-zinc-800">
                  <p class="text-base leading-relaxed text-white dark:text-gray-400">
                      Add "<%=@event.name%>" to your favorites?
                  </p>
              </div>
              <!-- Modal footer -->
              <div class="d-flex justify-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                  <%= link_to add_favorites_path(@event) do %>
                    <button data-favorites-target="favorite" data-action="click->favorites#update" class="btn btn-primary text-white">Yes</button>
                  <% end %>
                  <button data-modal-toggle="defaultModal" class="btn text-white">No</button>
              </div>
          </div>
      </div>
</div>
