<div class="img w-full">
  <div>
    <img src="https://i.postimg.cc/DwbtPj6b/Screen-Shot-2022-11-30-at-11-57-19-AM.png" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
    </div>

  </div>
</div>

<% @events.each do |event| %>

<div class="card card-compact w-96 bg-base-100 shadow-xl">
<%= link_to root_path, class: 'no-decoration' do %>
  <figure><img src=<%= event.image_url %> alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title"><%= event.name %></h2>
    <h3><%= event.location %></h3>
    <p><%= event.description %></p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
      <% end %>
    </div>
  </div>
</div>
