<div class="img w-full">
  <div class="justify-items-center">
    <div>
     <div class="home mb-4">
      <%# <img src="https://i.ibb.co/GFJfcgp/social-media-banner-6adf5bc26b.jpg" class="w-full"/>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        </div> %>
        <div class="flex justify-center mb-5">
          <%= link_to "Explore All", events_path, class: "btn btn-wide text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-2 py-2.5 text-center mr-2 my-3 "%>
        </div>
      </div>
    </div>
  </div>
</div>


<% # The uniq function filters all events to just those that have unqiue names so that we don't show duplicates %>
<% unique_events = @events.uniq { |event| [event.name] } %>
<% trending_events = [] %>
<% rnb_events = [] %>
<% sports_events = [] %>
<% alternative_events = [] %>
<% jazz_events = [] %>
<% unique_events.each_with_index do |event, index| %>
  <% # I filtered the results for each category and used things like price to get a better set of results to show off%>
  <% if event.category == "Hip Hop" && event.price > 15 && event.price < 90 && event.location != "Glasgow" %>
  <% trending_events << event %>
  <% elsif event.category == "R&B" && event.price < 30 && event.name != "Dexter" && event.name != "Kenny Thomas" && event.location != "Manchester" && event.name != "Kenny Thomas" %>
  <% rnb_events << event %>
  <% elsif event.category == "Sports" && event.price > 0  %>
  <% sports_events << event %>
  <% elsif event.category == "Alternative" && event.price < 30%>
  <% alternative_events << event %>
  <% elsif event.category == "Jazz" && event.price < 30  %>
  <% jazz_events << event %>
  <% end %>
<% end %>



<div class="container">
  <h1 class="text-5xl font-bold mt-0 mb-6 mx-3 pl-1">Trending Events 🔥</h1>
  <div class="flex flex-row">

  <% # Used index to only show first four results %>
  <% trending_events.each_with_index do |event, index| %>
    <% if index < 4 %>

    <%= link_to event_path(event.id), class: 'no-decoration' do %>
    <div class="card card-compact w-70 h-70 bg-base-100 shadow-xl mx-4 my-2">
      <figure><img src=<%= event.image_url %> class="w-screen h-40 rounded-t-xl" /></figure>
      <div class="card-body">
        <% # Truncate function reduces the length of the name if its longer than 10 characters %>
        <h2 class="card-title"><%= event.name.truncate(15) %>
        <div class="badge badge-secondary">NEW</div></h2>
        <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
        <div class="card-actions justify-end">
        </div>
      </div>
    </div>
    <% end %>

    <% end %>
  <% end %>

  </div>
</div>

<div class="container">
  <h1 class="text-5xl font-bold mt-4 mb-6 mx-3 pl-2">RnB Events</h1>
  <div class="flex flex-row">

  <% rnb_events.each_with_index do |event, index| %>
    <% if index < 4 %>
   <%= link_to event_path(event.id), class: 'no-decoration' do %>
    <div class="card card-compact w-70 h-70 bg-base-100 shadow-xl mx-4 my-2">
      <figure><img src=<%= event.image_url %> class="w-screen h-40 rounded-t-xl" /></figure>
      <div class="card-body">
        <h2 class="card-title"><%= event.name.truncate(15) %>
        <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
        <div class="card-actions justify-end">

        </div>
      </div>

    </div>
        <% end %>

    <% end %>
  <% end %>

  </div>
</div>

<div class="container">
  <h1 class="text-5xl font-bold mt-4 mb-6 mx-3 pl-2">Sports Events</h1>
  <div class="flex flex-row">

  <% sports_events.each_with_index do |event, index| %>
    <% if index < 4 %>
   <%= link_to event_path(event.id), class: 'no-decoration' do %>
    <div class="card card-compact w-70 h-70 bg-base-100 shadow-xl mx-4 my-2">
      <figure><img src=<%= event.image_url %> class="w-screen h-40 rounded-t-xl" /></figure>
      <div class="card-body">
        <h2 class="card-title"><%= event.name.truncate(15) %>
        <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
        <div class="card-actions justify-end">

        </div>
      </div>
    </div>
      <% end %>

    <% end %>
  <% end %>

  </div>
</div>

<div class="container">
  <h1 class="text-5xl font-bold mt-4 mb-6 mx-3 pl-3">Jazz Events</h1>
  <div class="flex flex-row">

  <% jazz_events.each_with_index do |event, index| %>
    <% if index < 4 %>
   <%= link_to event_path(event.id), class: 'no-decoration' do %>
    <div class="card card-compact w-70 h-70 bg-base-100 shadow-xl mx-4 my-2">
      <figure><img src=<%= event.image_url %> class="w-screen h-40 rounded-t-xl" /></figure>
      <div class="card-body">
        <h2 class="card-title"><%= event.name.truncate(15) %>
        <h3><%= event.location %> <%= event.date_details.day%>/<%= event.date_details.month%></h3>
        <div class="card-actions justify-end">

        </div>
      </div>
    </div>
          <% end %>

    <% end %>
  <% end %>

  </div>
</div>

<div class="flex justify-center">
  <%= link_to "Explore All", events_path, class: "btn btn-wide text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-14"%>
</div>
