<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>EventMonkey - Discover The Best Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="EventMonkey - Discover The Best Events" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://i.ibb.co/t3GFVbB/facebook-event-monkey.png" />
    <meta property="og:description" content="EventMonkey is the ultimate event finding app. Find any event, anywhere, today!" />
    <meta property="og:site_name" content="EventMonkey" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="EventMonkey - Discover The Best Events">
    <meta name="twitter:description" content="EventMonkey is the ultimate event finding app. Find any event, anywhere, today!">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="https://i.ibb.co/t3GFVbB/facebook-event-monkey.png">


    <% # These lines below are for DaisyUI which is a Tailwind CSS component library%>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init(); </script>
  </body>
</html>
